@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    Parkeringsgatan 47<br />
    Marievik, Stockholm<br />
    <abbr title="Telefonnummer till support">Tel:</abbr>
    08-123 4567
</address>
<img src="~/images/P-vakt.jpg" />
<address>
    <strong>Support:</strong>   <a href="mailto:Support@CLRGarage.com">Support@CLRGarage.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@CLRGarage.com">Marketing@CLRGarage.com</a>
</address>