@model IEnumerable<Garage2._0.Models.Vehicle>

@{
    ViewBag.Title = "CLR Garage Home";
}


<link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
<div class="row">
    
    <div class="col-md-6">

        <img src="~/images/garagecarousel.jpg" />
    </div>
    <div class="col-md-6" style="padding-top:200px">
        <h1 style="font-family: 'Arial Black'; font-size: 60px;">CLR GARAGE</h1>
    </div>
</div>